/*
font-family: 'Dancing Script', cursive;
font-family: 'Noto Sans', sans-serif;
*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
font-size: 16px;
font-family: 'Noto Sans', sans-serif;

}
.hero{
background:url('img/hero-bg.jpg') no-repeat scroll center center / cover;
position: relative;
z-index: 1;
}
.hero::after{
content: "";
position: absolute;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.6);
z-index: -1;
top: 0;
left: 0;
}
.container {
width: 1170px;
margin: 0 auto;
padding-left: 15px;
padding-right: 16px;
}
.hero-text {
padding: 140px 0;
}
.hero-title{
/* font-family: "Times New Roman", Times, serif; */
font-family: 'Dancing Script', cursive;
/* font-style: italic; */
font-size: 72px;
/* font-variant: small-caps; */
font-weight: 600;
line-height: 1.2;
/* text-transform: uppercase; */
color: #fff;
margin: 16px 0;
}
.hero-text p{
font-size: 20px;
color: #f7f7f7;
font-family: 'Noto Sans', sans-serif;
font-weight: 400;
}
.btn {
display: inline-block;
color: #fff;
border: 1px solid #fff;
margin-top: 30px;
padding: 14px 16px;
font-size: 20px;
text-decoration: none;
text-transform: uppercase;
border-radius: 6px;
background: rgba(255,255,255, 0.3);
}
.btn:hover{
background: yellowgreen;
border: 1px solid yellowgreen;
}