
*{
	box-sizing: border-box;
	margin: 0;
}
body{
	font-size: 16px
}
.container{
	width: 100%;
	margin: 0 auto;
}
/* nav css */
.nav{
	position: fixed;
	top: 0;
	z-index: 99999;
}
.nav ul{
	list-style: none;
	margin: 0;
	padding: ;
}
.nav ul li{
	display: inline
}
.nav ul li a{
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	padding: 14px 16px;	
}
.nav ul li a:hover{}
/* hero area css start */
.hero-area{
	background: url('img/girls.jpeg') no-repeat center center / cover;
	position: relative;
	z-index: 1;
}
.hero-area::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	z-index: -1;

}
.hero-text {
	max-width: 600px;
	margin: auto;
	padding: 170px 0;
}
.hero-text h1 {
	font-size: 36px;
	color: #fff;
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 16px;
	display: block;
}
.search-form{
	margin: 20px 0;
}	
#search {
	width: 100%;
	padding: 18px 18px;
	border: none;
	border-radius: 6px;
	font-size: 18px;
	color: #333;
}
.hero-text p{
	color: #f1f1f1;
}